<section class="bonusmodal-section">
  <div class="modal-container">
    <button class="close-btn-x">
      <svg class="icon-close">
        <use href="../img/symbol-defs.svg#icon-close-mdl"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h1 class="modal-title">Welcome to the world of CoffeeJoy!</h1>
      <p class="modal-description">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
      <img
        class="modal-image"
        src="../img/soft.jpg"
        alt="letter, coffee, +vibe "
      />
      <button class="close-btn">Close</button>
    </div>
  </div>
</section>
