<section>
<p>Welcome</p>
<h2>Our Journey: Passion for Quality Coffee</h2>
<p>At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences,
crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to perfection,
ensuring each sip is a delight.</p>
<button type="button">Find location
        <svg width="24" height="24">
            <use href="#"></use>
        </svg>
</button>
<picture>
    <source media="(min-width: 1440px)" 
    srcset="../img/welcome-brewcoffe.jpg, ../img/welcome-brewcoffe@2x.jpg, ../img/welcome-brewcoffe@3x.jpg" />
    <source media="(min-width: 768px)" 
    srcset="srcset="../img/welcome-brewcoffe.jpg, ../img/welcome-brewcoffe@2x.jpg, ../img/welcome-brewcoffe@3x.jpg" />
    <source media="(max-width: 767.98pxpx)" 
    srcset="srcset="../img/welcome-brewcoffe.jpg, ../img/welcome-brewcoffe@2x.jpg, ../img/welcome-brewcoffe@3x.jpg"" />
    <img src="../img/welcome-brewcoffe.jpg" sizes="(max-width: 1440px) 100vw, 1312px" alt="to brew coffee" width="288"
        height="162" />
</picture>
</section>
