.bonusmodal-section {
  background: rgba(0, 0, 0, 0.25);
}
.modal-container {
  margin: 0 auto;
  border-radius: 40px;
  padding: 64px 16px;
  width: 288px;
  height: 631px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  background: #e0cbb4;

  position: relative;
}
.close-btn-x {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: 0;
}
.icon-close {
}
.modal-wrapper {
}
.modal-title {
  margin-bottom: 16px;
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;

  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
}
.modal-description {
  margin-bottom: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;

  /* line-height: 27px; */
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
}
.modal-image {
  border-radius: 24px;
  width: 256px;
  height: 200px;

  margin-bottom: 24px;
}

.close-btn {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border-radius: 100px;
  padding: 10px 24px;
  width: 256px;
  height: 44px;

  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
}
